#body{
    background: white;
}
#head{
    font-size: 88px;
    font-weight: 100px;
    height: 150px;
    width: 1450px;    
    -webkit-text-stroke: 3px black;
    color: transparent;
    
}   
.box{
    height: 50%;
    width: 50%;
    background-color: rgb(247, 248, 248);
    filter: drop-shadow( 8px 8px 20px rgb(1, 1, 1));
    overflow: hidden;
    transition: 5s;
}
.box :hover {
    scale: 1.2;

}
